@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#root{
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
.swiper-button-next:after,.swiper-button-prev:after{
  position: absolute;
  bottom: -3.5rem;
  color: blue;
  font-size: 1.5rem !important;
  font-weight: 900 !important;
}
.swiper-button-prev:after{
  right: -80rem;
}
